@font-face {
  font-family: "Yandex Sans Text";
  src: url("./YSText-Regular.eot");
  src: url("./YSText-Regular.eot?#iefix") format("embedded-opentype"), url("./YS Text-Regular.woff2") format("woff2"), url("./YS Text-Regular.woff") format("woff"), url("./YS Text-Regular.ttf") format("truetype"), url("./YS Text-Regular.svg#YSText-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./YSText-Bold.eot");
  src: url("./YSText-Bold.eot?#iefix") format("embedded-opentype"), url("./YS Text-Bold.woff2") format("woff2"), url("./YS Text-Bold.woff") format("woff"), url("./YS Text-Bold.ttf") format("truetype"), url("./YS Text-Bold.svg#YSText-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

html {
  font-size: 16px; }
  @media (min-width: 798px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1280px) {
    html {
      font-size: 18.4px; } }
  @media (min-width: 1680px) {
    html {
      font-size: 20px; } }

body {
  margin: 0;
  padding: 0; }

.Page {
  font-family: Yandex Sans Text, Helvetica, Arial, sans-serif;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%; }
