@import "styles/variables";

.FeedItem_size_s{

  grid-column: auto / span 2;

  .FeedItem{
      &-Headline{
        font-size: $title-font-size-normal;
      }

    &-Image{
      grid-row: 2 / 4;
    }
  }
}
