@import "styles/variables";

.FeedItem_size_l{
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $base $base*2;
  grid-template-areas:
          "content content header"
          "content content footer"
          "content content controls";

  grid-template-rows: auto  minmax(10rem, auto) $base*3;

  .FeedItemFeedback{
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    grid-row: unset;
  }

}
