@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/FeedItem/placeholders";

.FeedItem_size_l{
  grid-column: auto / span 6;
  @extend %horizontal-grid;
  grid-template-columns: 1fr;

  @include media('(min-width : 768px)') {
    grid-template-columns: 1fr 1fr;
  }

  @include media('(min-width : 1024px)') {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .FeedItem{
    &-Image{
      grid-column-end: 3;

      @include media('(min-width : 768px)') {
        grid-column-end: 2;
      }

      @include media('(min-width : 1024px)') {
        grid-column-end: 3;
      }
    }
  }

  @include media('(min-width : 768px)') {
    .FeedItemFeedback{
      flex-direction: row;
      align-items: center;
      margin-right: 0;
    }
  }
}
