@import "styles/variables";
@import "styles/mixins";

.FeedItem_size_m{
  grid-column: auto / span 3;
  grid-template-areas:
          "header header"
          "content content"
          "footer controls";

  grid-template-rows: min-content minmax(10rem, auto) min-content;
  grid-template-columns: auto 5*$base;


  .FeedItem{
    &-Description{
      @include overflow-ellipsis(3, $description-line-height);
    }
  }

  .FeedItemFeedback{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    grid-row: unset;
  }
}
