@import "../../../styles/variables";

.FeedItem-Description{
  margin: 0;
  transition: color .1s;

  font-size: 0.875rem;
  line-height: $description-line-height;
  grid-area: footer;
  display: none;
}
