@mixin media($queryString){
  @media #{$queryString} {
    @content;
  }
}

@mixin overflow-ellipsis-display(){
  display: -webkit-box;
  box-orient: vertical;
  overflow: hidden;
}

@mixin overflow-ellipsis($line-count, $line-height) {
  -webkit-line-clamp: $line-count;
  max-height: $line-height * $line-count;
}
