%vertical-grid {
  grid-row-gap: $base;

  @include media('(min-width : 1440px)') {
    grid-row-gap: $base*1.5;
  }
}

%vertical-grid_s_size{
  grid-template-areas:
          "header header"
          "content controls";

  grid-template-rows: min-content minmax(10rem, auto);
}

%vertical-grid_s_size_text{
  grid-template-areas: "header"
  "content"
  "controls";
  grid-template-rows: min-content auto $base*5;
}

%vertical-grid_m_size{
  grid-template-columns: auto $base*5;
  grid-template-areas:
          "header header"
          "content controls";

  grid-template-rows: min-content minmax(10rem, auto);

  @include media('(min-width : 768px)') {
    grid-template-areas:
            "header header"
            "content content"
            "footer controls";

    grid-template-rows: min-content minmax(10rem, auto) min-content;
  }
}

%horizontal-grid{

  grid-row-gap: $base;

  @include media('(min-width : 1440px)') {
    grid-row-gap: $base*1.5;
  }

  grid-template-areas:
          "header header"
          "content controls";

  grid-template-rows: min-content minmax(10rem, auto) min-content;


  @include media('(min-width : 768px)') {
    grid-template-areas:
            "content header"
            "content footer"
            "content controls";

    grid-gap: $base $base*2;
    grid-template-rows: auto  minmax(10rem, auto) $base*3;
  }

  @include media('(min-width : 1024px)') {
    grid-template-areas:
            "content content header"
            "content content footer"
            "content content controls";
  }
}
