@import "styles/variables";

.FeedItem_size_l{
  grid-template-columns: 1fr 1fr;
  grid-column: auto/span 6;
  grid-template-areas:
          "content header"
          "content footer"
          "content controls";

  grid-gap: $base $base*2;
  grid-template-rows: auto  minmax(10rem, auto) $base*3;

  .FeedItem{
    &-Image{
        grid-column-end: 2;
    }
  }
  .FeedItemFeedback{
    flex-direction: row;
    align-items: center;
    margin-right: 0;
  }
}
