@import "../../../styles/variables";
@import "../../../styles/mixins";
.FeedItem_type_text {
  grid-template-areas: "header"
  "content"
  "controls";

  grid-template-rows: min-content auto $base*5;

  .FeedItem-Description{
    grid-area: content;
    @include overflow-ellipsis-display;
    @include overflow-ellipsis(8, $description-line-height);
  }

  .FeedItemFeedback{
    grid-row: unset;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
  }
}
