.Header-Logo{
  width: 45px;
  height: 11px;
  background-image: url('./Header-Logo.png');
  background-image: image-set(url('./Header-Logo.png') 1x, url('./Header-Logo@2x.png') 2x, url('./Header-Logo@3x.png') 3x);
  background-repeat: no-repeat;
}
