@import "../../styles/variables";
.Feed{
  display: grid;
  grid-gap: $base*3 $base*2;
  grid-template-columns: repeat(6, 1fr);
  overflow-wrap: break-word;
  margin-bottom: $base*5;
  grid-auto-flow: row dense;
}
