@import "styles/mixins";

.Header-Logo{
    width: 90px;
    height: 21px;
    background-image: url('./Header-Logo@2x.png');

    @include media('(min-width : 1440px)') {
        width: 134px;
        height: 31px;
        background-image: url('./Header-Logo@3x.png');
    }
}
